* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
}

.flex {
    display: flex;
}

body {
    font-size: 14rem;
}

.wrapper {

    margin: auto;
    max-width: 960px;

}
.right{
    text-align: right;
}
.wrapper ul {

    margin-bottom: 40px;
    display: flex;
    list-style: none;
    background-color: #2a3644;
    border-radius: 3px;
}

.wrapper li {
    padding: 14px;
}

h1 {
    margin: 35px 0px 25px;
}

.wrapper .eat {
    margin-bottom: 25px;
}

.wrapper .city-company {
    border-radius: 6px;
    margin-bottom: 60px;
    background-color: #2a3644;
}

.city-company ul {
    align-items: center;
    margin: 0;

}

.wrapper .social {
    border-radius: 0 3px 3px 0;
}

.wrapper .sausage {
    z-index: 1;
    min-width: 210px;
    display: none;
}

.wrapper .salad {
    z-index: 1;
    min-width: 210px;
    display: none;
}

.wrapper .crab {
    z-index: 1;
    min-width: 210px;
    display: none;
}

.wrapper .milk {
    z-index: 1;
    min-width: 210px;
    display: none;
}

.wrapper .sub-menu {
    border: 1px solid #d2d4d5;
    z-index: 1;
    min-width: 210px;
    display: none;
}



.eat {
    position: relative;
}

.computer li {
    position: relative;
}

.city {
    position: relative;
}

/* sub-menu new */
.sub-menu::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: -5px;
    left: 0;
}

li:hover>a+.sub-menu {
    display: block;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
}

.wrapper .sub-menu a {
    font-size: 15px;
    color: #2a3644;
    font-weight: bold;
    font-family: "Arial";
}

.sub-menu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    top: -6px;
    left: 0;
}

li:hover a+.sub-menu {
    position: absolute;
    display: block;
    top: calc(100% + 5px);
    left: 0;
}

.sub-menu li {
    background-color: #d2d4d5;
    border-bottom: 1px solid #b9bdc1;
}

.sub-menu li:hover {
    background-color: #2a3644;
}

.sub-menu li:hover>a {
    color: #fd8612;
}

/* sub-menu end */
/* second-menu new */
.computer li:hover a+.sub-menu .second-sub {
    position: absolute;
    display: none;
    top: 0;
    left: calc(100% + 5px);
}

.computer li:hover a+.sub-menu li:hover a+.second-sub {
    display: block;
}

.second-sub::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 100%;
    left: -5px;
    top: 0;
}

.second-sub::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    left: -5px;
    top: 0;
}

.second-sub .computer {
    flex-grow: 1;
}

/* second-sub end */
/* third-sub new */
body .wrapper .computer .sub-menu .second-sub .third-sub {
    position: absolute;
    display: none;
    top: 0;
    left: unset;
    right: calc(100% + 10px);
}

.computer li:hover a+.sub-menu li:hover a+.second-sub li:hover .third-sub {
    display: block;
}
.third-sub::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    left: 208px;
    top: 0;
}
/* third-sub end */
.poslogi li {
    border-right: 1px #b9bdc1 solid;
    width: 210px;
}

li:hover .sub-menu.poslogi {
    background-color: #d2d4d5;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: max-content;
}

.wrapper h1 {
    font-size: 24rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
    font-family: "Arial";
}

h2 {
    margin-bottom: 25px;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
    font-family: "Arial";
}

table {
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 50px;
}

.wrapper h2 {
    font-size: 24rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
    font-family: "Arial";
}

.wrapper a {
    text-decoration: none;
    font-size: 16rem;
    color: #fff;
    font-weight: bold;
    font-family: "Arial";

}

.wrapper li a {
    transition: 0.5s;
}


a {
    display: block;
}



.wrapper li a:hover {
    color: #fd8612;

}

.city-company {
    justify-content: space-between;
}

.wrapper .eat {
    justify-content: space-between;
}

.wrapper .computer {
    justify-content: space-between;
}

.wrapper .city>li,
.wrapper .computer>li,
.wrapper .eat>li {

    padding: 16px 28px;
}
.wrapper header .border {
    border-bottom: none !important;
    border: 1px solid #3f4852;
    border-radius: 0px;
    border-top: none;
}
.borders {
    border-bottom: none !important;
}
.none {
    border-bottom: none !important;
}
.social {
    gap: 15px;
    width: 18%;
}

.wrapper li a {
    display: inline-block;

}

.social a {

    display: block;
    background: url(social.png);
}

a.fb {
    width: 9px;
    height: 18px;
    transition: 0.3s;
    background-image: url(../social.png);
    background-position: 0px 0px;
}

a.fb:hover {
    background-position: 0px -21px;
}

li {
    position: relative;
}

a.tw {
    width: 16px;
    height: 18px;
    transition: 0.3s;
    background-image: url(../social.png);
    background-position: -12px 0px;
}

a.tw:hover {
    background-position: -12px -23px;
}

a.in {
    width: 18px;
    height: 22px;
    transition: 0.3s;
    background-image: url(../social.png);
    background-position: -31px 1px;
}

a.in:hover {
    background-position: -31px -18px;
}

.logo {
    padding-left: 29px;
    position: relative;
}

.logo:before {
    content: "";
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 5px;

    width: 16px;
    height: 13px;
    transition: 0.3s;
    background-image: url(../social.png);
    background-position: -51px -4px;
}

.logo:hover:before {
    background-position: -51px -24px;
}

table {
    border-collapse: collapse;
    width: 100%;

}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

tr:last-child td {
    border-bottom: none;
}


table thead tr td {

    padding: 13px;
    border: 1px solid #3f4852;
}

table thead .name {
    text-align: left;
}

table thead td {
    font-size: 16rem;
    color: #fff;
    font-weight: bold;
    font-family: "Arial";
    max-width: 960px;
    border: 3px solid #2a3644;
}

table thead tr {
    background-color: #2a3644;
    border-radius: 3px;
    text-align: center;

}

table tr td:nth-child(1) {
    text-align: center;
}



tbody td {
    font-size: 16rem;
    color: #2a3644;
    font-family: "Arial";
    padding: 13px;
}

tbody tr:nth-child(2n-1) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(2n) {
    background-color: #e8e8e8;
}

tbody tr:hover {
    background-color: #c0c1c2;
}
.wrapper
tbody tr {
    transition: 0.5s;
}
ul >li:hover {
    background-color: #3f4852;
}
ul li:hover >a {
    color: #ff8505;
}
td {
    border-color: #c0c1c2;
    border: 1px solid #c0c1c2;
}


.table {
    overflow: hidden;
    border-radius: 3px;
    display: table;
    width: 100%;
    margin-bottom: 97px;
}

.table .name-tovar {
    background-color: #2a3644 !important;
}

.table .row {
    display: table-row;
    text-align: left;
    border-radius: 3px;
    

}

.table .row:hover {
    background-color: #c0c1c2;

}

.table .row {
    transition: 0.5s;
}



.table .row p {
    border: 0.5px solid #c0c1c2;
    display: table-cell;
    padding: 14px;
    font-size: 16px;
    color: #2a3644;
    font-family: "Arial";
}
.table .row:last-child p {
    border-bottom: none;
}

.table .name-tovar {
    background-color: #2a3644;
}

.row p:first-child {
    text-align: center;
    border-left: none;
}

.row p:last-child {
    border-right: none;
}

.row p:last-child td {
    border-bottom: none;
}

.table .name-tovar p {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    padding: 18px 13px;
}
.right {
    text-align: right;
}
.number-width{
    width: 12%;
}
.width{
    width: 39%;
}
.table .row:nth-child(2n) {
    background-color: #e8e8e8;
}

.table .row:nth-child(2n-1) {
    background-color: #f2f2f2;
    
}
.table .row:hover {
    background-color: #c0c1c2;
}

