* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
}

.flex {
    display: flex;
}

body {
    font-size: 14rem;
}

.wrapper .sub-menu {
    z-index: 1;
    min-width: 210px;
    display: none;

}

.computer li:hover a+.sub-menu .second-sub {
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% + 5px);
}

.computer li:hover a+.sub-menu li:hover a+.second-sub {
    display: block;
}

.sub-menu::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: -5px;
    left: 0;
}

.second-sub::before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    left: -5px;
    top: 0;
}

.computer li {
    position: relative;
}

.computer li:hover a+.sub-menu {
    display: block;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
}


.wrapper .sub-menu a {
    font-size: 15px;
    color: #2a3644;
    font-weight: bold;
    font-family: "Arial";
}

.sub-menu li {

    border-bottom: 1px solid #b9bdc1;
    background-color: #d2d4d5;
}

.sub-menu li:hover {
    background-color: #2a3644;
}

.sub-menu li:hover>a {
    color: #fd8612;
}

.computer li:hover a+.sub-menu .second-sub .three-sub {
    display: none;
    position: absolute;
    top: 0;
    right: calc(100% + 10px);
}

.computer li:hover a+.sub-menu li:hover a+.three-sub {
    display: block;
}

.sub-menu::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: -5px;
    left: 0;
}

.second-sub::before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    left: -5px;
    top: 0;
}

.computer li {
    position: relative;
}

.computer li:hover a+.sub-menu {
    display: block;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
}


.wrapper {

    margin: auto;
    max-width: 960px;

}

.wrapper ul {

    display: flex;
    list-style: none;
}

.wrapper li {
    padding: 14px;
}

.wrapper ul {

    margin-bottom: 40px;
    background-color: #2a3644;
    border-radius: 3px;
}

.wrapper h1 {
    font-size: 24rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
    font-family: "Arial";
}

h2 {
    margin-bottom: 25px;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
    font-family: "Arial";
}
table{
    margin-bottom: 50px;
}

.wrapper h2 {
    font-size: 24rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
    font-family: "Arial";
}

.wrapper a {
    text-decoration: none;
    font-size: 16rem;
    color: #fff;
    font-weight: bold;
    font-family: "Arial";

}

.wrapper li a {
    transition: 0.5s;
}


a {
    display: block;
}



.wrapper li a:hover {
    color: #fd8612;

}

.wrapper .eat {
    justify-content: space-between;
}

.wrapper .computer {
    justify-content: space-between;
}

.wrapper .city {
    justify-content: space-between;
}

.social {
    gap: 27px;
}

.wrapper li a {
    display: inline-block;

}

.social a {

    display: block;
    background: url(img/img\ social3.png);
}

a.fb {
    width: 15px;
    height: 18px;
    transition: 0.3s;
    background-position: -1px -2px;
}

a.fb:hover {
    background-position: 0px -23px;
}

li {
    position: relative;
}

a.tw {
    width: 16px;
    height: 18px;
    transition: 0.3s;
    background-position: -19px 0px;
}

a.tw:hover {
    background-position: -19px -20px;
}

a.in {
    width: 21px;
    height: 22px;
    transition: 0.3s;
    background-position: -44px 0;
}

a.in:hover {
    background-position: -44px -23px;
}

table {
    border-collapse: collapse;
    width: 100%;

}

table thead tr td {

    padding: 13px;
    border: 1px solid #3f4852;
}

table thead .name {
    text-align: left;
}

table thead td {
    font-size: 16rem;
    color: #fff;
    font-weight: bold;
    font-family: "Arial";
    max-width: 960px;
    border: 3px solid #2a3644;
}

table thead tr {
    background-color: #2a3644;
    border-radius: 3px;
    text-align: center;

}

table tr td:nth-child(1) {
    text-align: center;
}

table tr td:nth-child(3),
table tr td:nth-child(4),
table tr td:nth-child(5) {
    text-align: right;
}

tbody td {
    font-size: 16rem;
    color: #2a3644;
    font-family: "Arial";
    padding: 13px;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #c0c1c2;
}

tbody tr {
    transition: 0.5s;
}

td {
    border: 1px solid #3f4852;
}


.table {
    display: table;
    width: 100%;
}

.table .name-tovar {
    background-color: #2a3644 !important;
}

.table .flex {
    display: table-row;
    text-align: left;
    border-radius: 3px;
    background-color: #f2f2f2;
    justify-content: space-between;

}

.table .flex:hover {
    background-color: #c0c1c2;

}

.table .flex {
    transition: 0.5s;
}



.table .flex p {
    border: 1px solid #3f4852;

    display: table-cell;
    padding: 18px;
    font-size: 16px;
    color: #2a3644;
    font-family: "Arial";
}

.table .name-tovar {
    background-color: #2a3644;
}

.table .name-tovar p {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}